* {
    box-sizing: border-box;
}

@font-face {
    font-family: "ZonaPro-Black";
    src: url("../fonts/ZonaPro-Black.otf") format("truetype");
}

body {
    background: white;
    height: auto;
    margin: 0 auto;
    color: black;
}

.degrade {
    position: relative;
    width: 50%;
    left: 0px;
    height: 50px;
    background-image: -moz-linear-gradient(left, #FFFFFF, #FFFFFF, #FFFFFF, #FFFFFF, #F0F0F0);
}

// STRIPE FOR THE SHADOWS
.bandes {
    position: absolute;
    display: flex;
    width: 100%;
    height: 2380px;
    .bande1 {
        z-index: -50;
        width: 50%;
        height: 100%;
    }
    .bande2 {
        z-index: 1;
        width: 50%;
        height: 100%;
        background-color: white;
        box-shadow: -5px 5px 100px #e4e4e4;
    }
}

//HEADER
.wrap {
    position: relative;
    z-index: 998;
    top: 0;
    left: 0;
    margin-left: 70px;
    margin-right: 70px;
    //NAVBAR
    nav {
        ul {
            list-style-type: none;
            text-align: right;
            position: absolute;
            right: 6%;
            margin-top: -3px;
            li {
                padding: 0px;
                margin-bottom: -5px;
                margin-top: 0px;
            }
            li a {
                color: black;
                text-decoration: none;
                font-weight: 300;
                font-size: 10px;
                text-transform: uppercase;
                font-family: "ZonaPro-Black";
                letter-spacing: 3px;
            }
        }
        //SVG
        .menu {
            width: 4.6%;
            position: fixed;
            right: 4.6%;
            z-index: 999;
        }
    }
    //IMAGES
    .img-left {
        position: relative;
        width: 64.38%;
        height: 79%;
        img {
            width: 100%;
            box-shadow: 5px 31px 85px 23px rgba(0, 0, 0, 0.07);
        }
    }
    .img-center {
        position: absolute;
        top: 13.2%;
        right: 0;
        width: 75.1%;
        height: 74%;
        img {
            width: 100%;
            box-shadow: 5px 31px 85px 23px rgba(0, 0, 0, 0.07);
        }
    }
    .img-right {
        position: absolute;
        top: 26%;
        right: 12.62%;
        width: 16%;
        height: 58.23%;
        img {
            width: 100%;
            box-shadow: 5px 31px 85px 23px rgba(0, 0, 0, 0.07);
        }
    }
    .img-logo {
        position: absolute;
        top: 42.8%;
        width: 68.38%;
        left: 50%;
        transform: translateX(-50%);
        img {
            width: 100%;
        }
    }
    .img-cross {
        position: absolute;
        width: 23%;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 65%);
        img {
            width: 100%;
        }
    }
}

.text {
    margin-top: 160px;
    margin-left: 21.7%;
}

.approach {
    margin: 0;
    text-decoration: none;
    color: black;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    font-size: 14px;
}

.approach::after {
    content: "";
    display: block;
    width: 70px;
    height: 4px;
    background-image: linear-gradient(#65b0c9 0%, #b8e7e9 45%);
    margin: 5px 0px 0px 38px;
}

section {
    margin: 10px 120px 0px 120px;
    position: relative;
    .wrapper1 {
        display: grid;
        height: auto;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(50%, auto);
        .block1 {
            z-index: -1;
            grid-column: 1 / 2;
            grid-row: 1;
            background-color: white;
            height: 100%;
            box-shadow: 5px 31px 85px 23px rgba(0, 0, 0, 0.07);
            text-align: center;
            img {
                width: 26%;
                margin-top: 165px;
            }
        }
        .block2 {
            z-index: 2;
            grid-column: 2 / 2;
            grid-row: 1;
            background: white;
            height: 100%;
            .text {
                h1 {
                    font-family: "ZonaPro-Black";
                    font-size: 36px;
                    letter-spacing: 0.4px;
                    font-weight: 300;
                    margin: 0;
                    line-height: 41px;
                }
                p {
                    font-family: "Times New Roman", Times, serif;
                    font-style: italic;
                    margin-top: 40px;
                    font-size: 13px;
                    line-height: 17.5px;
                    font-weight: 400;
                    width: 100%;
                    margin-bottom: 25px;
                }
            }
        }
    }
    .wrapper2 {
        display: grid;
        height: auto;
        margin-top: 185px;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(100%, auto);
        .block5 {
            z-index: -1;
            h2 {
                text-transform: uppercase;
                font-family: "ZonaPro-Black";
                font-size: 36px;
                letter-spacing: 0.4px;
                font-weight: 300;
                margin: 0;
                line-height: 41px;
                a {
                    text-decoration: none;
                    color: black;
                }
                a::before {
                    content: "";
                    display: block;
                    width: 70px;
                    height: 4px;
                    background-image: linear-gradient(#65b0c9 0%, #b8e7e9 45%);
                    margin: 0px 0px 15px 0px;
                }
            }
        }
        .block6 {
            z-index: 2;
            background-color: white;
        }
    }
    .wrapper3 {
        display: grid;
        height: auto;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(100%, auto);
        margin-top: 40px;
        .block7 {
            z-index: -1;
            img {
                width: 100%;
            }
        }
        .block8 {
            position: relative;
            z-index: 2;
            background-color: white;
            .text {
                margin-top: 0px;
                .liste {
                    list-style: none;
                    display: flex;
                    margin: 0px;
                    padding: 0px;
                    li {
                        width: 30px;
                        height: 3px;
                        background: #B0B0B0;
                    }
                    .tiret1 {
                        background-color: black;
                    }
                    .tiret2 {
                        margin-left: 6px;
                    }
                    li a {
                        width: 40px;
                        height: 5px;
                    }
                }
                img {
                    width: 72%;
                    margin-bottom: 25px;
                }
                .kontextur {
                    border-bottom: 1px solid black;
                    padding-bottom: 15px;
                    width: 70%;
                    a {
                        text-transform: uppercase;
                        text-decoration: none;
                        margin: 0px;
                        font-family: "ZonaPro-Black";
                        letter-spacing: 0.1em;
                        color: black;
                        font-size: 20px;
                    }
                }
                .load {
                    width: 70px;
                    height: 4px;
                    background-color: black;
                }
                p {
                    font-family: "Times New Roman", Times, serif;
                    font-style: italic;
                    margin-top: 40px;
                    font-size: 13px;
                    line-height: 17.5px;
                    font-weight: 400;
                    width: 100%;
                    margin-bottom: 110px;
                }
            }
        }
    }
    .cross-img {
        z-index: 10;
        position: relative;
        bottom: -60px;
        width: 100%;
        .polygones {
            width: 50%;
            position: absolute;
            right: 0;
        }
    }
    .adf {
        position: absolute;
        width: 100%;
        margin-top: 3%;
        p {
            font-family: "Times New Roman", Times, serif;
            font-style: italic;
            font-size: 13px;
            line-height: 17.5px;
            font-weight: 400;
            width: 100%;
            margin-top: 230px;
        }
        .approach {
            margin: 0;
            margin-top: 110px;
            text-decoration: none;
            color: black;
            font-family: "Times New Roman", Times, serif;
            font-style: italic;
            font-size: 14px;
        }
    }
    .adf a {
        color: black;
        font-family: "ZonaPro-Black";
        text-decoration: none;
        position: absolute;
        line-height: 1.4em;
        font-size: 1.1em;
    }
    .femme {
        position: absolute;
        width: 50%;
        left: 50%;
        transform: translateX(-50%);
    }
}

//SECOND SECTION
.grid {
    width: 100%;
    margin: 0 auto;
    margin-top: 700px;
    p {
        color: black;
        text-decoration: none;
        font-weight: 300;
        font-size: 11px;
        text-transform: uppercase;
        font-family: "ZonaPro-Black";
        letter-spacing: 2.5px;
        margin-right: 50px;
        line-height: 1.3em;
    }
    i {
        margin-top: 10px;
        margin-left: 10px;
    }
    .text-grid {
        display: flex;
        padding-left: 20px;
    }
    .row1 {
        margin: 0 120px;
        display: flex;
        .row1-col1 {
            width: 25%;
            padding: 0;
            img {
                width: 100%;
                border: 18px solid #C5BE8D;
            }
        }
        .row1-col2 {
            width: 25%;
            img {
                border: 18px solid #FFFFFF;
                width: 100%;
            }
        }
        .row1-col3 {
            width: 50%;
            padding-left: 80px;
            h2 {
                text-transform: uppercase;
                font-family: "ZonaPro-Black";
                font-size: 36px;
                letter-spacing: 0.4px;
                font-weight: 300;
                margin: 0;
                line-height: 41px;
            }
            h2::before {
                content: "";
                display: block;
                width: 70px;
                height: 4px;
                background-image: linear-gradient(#65b0c9 0%, #b8e7e9 45%);
                margin: 50px 0px 20px 0px;
            }
            p {
                font-family: "Times New Roman", Times, serif;
                font-style: italic;
                font-size: 13px;
                line-height: 17.5px;
                font-weight: 400;
            }
        }
    }
    .row2 {
        margin: 0 120px;
        display: flex;
        .row2-col1 {
            padding-top: 300px;
            width: 25%;
            img {
                width: 100%;
                border: 18px solid #FFFFFF;
            }
        }
        .row2-col2 {
            width: 25%;
            img {
                width: 100%;
                border: 18px solid #FAAFC7;
            }
        }
        .row2-col3 {
            width: 50%;
            img {
                width: 100%;
                border: 18px solid #1B253E;
            }
        }
    }
    .row3 {
        margin: 0 120px;
        display: flex;
        .row3-col1 {
            width: 25%;
        }
        .row3-col2 {
            width: 25%;
            img {
                width: 100%;
                border: 18px solid #FFFFFF;
            }
        }
        .row3-col3 {
            width: 50%;
        }
    }
}

footer {
    margin-top: 350px;
    margin-bottom: 75px;
    position: relative;
    .nav-footer {
        display: flex;
        margin: auto;
        margin-top: 90px;
        width: 90%;
    }
    img {
        width: 11%;
        margin-left: 50%;
        transform: translateX(-50%);
    }
    .svg-footer {
        width: 200px;
        svg {
            width: 20%;
        }
    }
    .onglets {
        list-style-type: none;
        display: flex;
        padding: 0;
        width: 37%;
        margin: auto;
        li {
            font-weight: 300;
            font-size: 11px;
            text-transform: uppercase;
            font-family: "ZonaPro-Black";
            letter-spacing: 2.5px;
            margin: auto;
            a {
                color: black;
                text-decoration: none;
            }
        }
    }
    .socials {
        list-style-type: none;
        display: flex;
        padding: 0;
        width: 200px;
        li {
            a {
                font-size: 1.3em;
                color: black;
                text-decoration: none;
                margin: auto 8px;
            }
        }
    }
}

.resp {
    display: none;
}